@using BlazorMedia
@using TravelMonkey.Core.Helpers

@page "/addpicture"
<div class="background" style="@BackgroundGradient">
    <MatButton OnClick="Back">Close</MatButton>
    <div class="page-content">
        <div class="frame" @onclick="@AddPicture">
            <img class="overlap-image" src="@(VM.PhotoBytes?.ToHTMLString())" />
            <h3 class="overlap-text">Tap to add picture</h3>
            @if(VM.IsPosting)
            {
                <div class="loading" style="display: contents;">
                    <img src="images/TravelMonkey.png" class="animated infinite pulse loading-image" />
                </div>
            }
        </div>

            <MatDialog @bind-IsOpen="@DialogIsOpen">
                <MatDialogTitle>What do you want to do?</MatDialogTitle>
                <MatDialogContent>
                    <MatButton OnClick="CameraClick">Take photo</MatButton>
                    <MatButton OnClick="UploadClick">Choose photo</MatButton>
                    <p>@FileName</p>
                </MatDialogContent>
                <MatDialogActions>
                    <MatButton OnClick="@(e => { DialogIsOpen = false; })">Cancel</MatButton>
                </MatDialogActions>
            </MatDialog>

            <MatDialog @bind-IsOpen="@CameraIsOpen">
                <MatDialogTitle>Take photo</MatDialogTitle>
                <MatDialogContent>
                    @if(CameraIsOpen)
                    {
                        <VideoMedia @ref="@TheVideoElement" Framerate="25" Width="400" Height="400"></VideoMedia>
                    }
                </MatDialogContent>
                <MatDialogActions>
                    <MatButton OnClick="@TakePhotoClick">Take photo</MatButton>
                    <MatButton OnClick="@CloseClick">Cancel</MatButton>
                </MatDialogActions>
            </MatDialog>

            <MatDialog @bind-IsOpen="@UploadIsOpen">
                <MatDialogTitle>Add a photo</MatDialogTitle>
                <MatDialogContent>
                    <InputFile OnChange="HandleFileSelected" />
                    <p>@FileName</p>
                </MatDialogContent>
                <MatDialogActions>
                    <MatButton OnClick="CloseClick">Cancel</MatButton>
                </MatDialogActions>
            </MatDialog>
    </div>
    <p class="center">@VM.PictureDescription</p>
    <MatButton OnClick="SavePicture">SAVE PICTURE</MatButton>
</div>
