@using BlazorMedia

@page "/addpicture"
    <div class="background" style="@BackgroundGradient">
        <MatButton OnClick="Back">Close</MatButton>
        <div class="page-content">

            @if (ViewState == ViewState.none)
            {

                <div class="frame" @onclick="@AddPicture">
                    @if (VM.PhotoBytes != null)
                    {

                        <img class="overlap-image" src="@($"data:image/jpg;base64,{Convert.ToBase64String(VM.PhotoBytes)}")" />
                    }
                    <h3 class="overlap-text">Tap to add picture</h3>
                </div>


                <MatDialog @bind-IsOpen="@DialogIsOpen">
                    <MatDialogTitle>What do you want to do?</MatDialogTitle>
                    <MatDialogContent>
                        <MatButton OnClick="CameraClick">Take photo</MatButton>
                        <MatButton OnClick="UploadClick">Choose photo</MatButton>
                        <p>@FileName</p>
                    </MatDialogContent>
                    <MatDialogActions>
                        <MatButton OnClick="@(e => { DialogIsOpen = false; })">Cancel</MatButton>
                    </MatDialogActions>
                </MatDialog>
                <MatDialog @bind-IsOpen="@CameraIsOpen">
                    <MatDialogTitle>Take photo</MatDialogTitle>
                    <MatDialogContent>
                        <p>Camera not yet implemented</p>

                    </MatDialogContent>
                    <MatDialogActions>
                        <MatButton OnClick="UploadClick">Choose photo</MatButton>
                        <MatButton OnClick="@CloseClick">Cancel</MatButton>
                    </MatDialogActions>
                </MatDialog>
                <MatDialog @bind-IsOpen="@UploadIsOpen">
                    <MatDialogTitle>Add a photo</MatDialogTitle>
                    <MatDialogContent>

                        <InputFile OnChange="HandleFileSelected" />
                        <p>@FileName</p>
                    </MatDialogContent>
                    <MatDialogActions>
                        <MatButton OnClick="CloseClick">Cancel</MatButton>
                    </MatDialogActions>
                </MatDialog>
            }
            else if (ViewState == ViewState.camera)
            {
                <p>alert</p>
            }
            else if (ViewState == ViewState.picker)
            {
                <div>

                    <p class="validation-message">@VM.ErrorMessage</p>
                    <h2>@VM.PictureDescription</h2>

                    <InputFile OnChange="HandleFileSelected" />
                    <p>@FileName</p>
                </div>
            }
        </div>
        <p class="center">@VM.PictureDescription</p>
        <VideoMedia Timeslice="30" Width="300" Height="300" ></VideoMedia>

        <MatButton OnClick="SavePicture">SAVE PICTURE</MatButton>

    </div>